@import "tailwindcss";

@layer base {
  /* Altura completa opcional */
  html, body, #root { height: 100%; margin: 0;
    padding: 0;}

 
  h1{
    text-align: left;
    font-size: xx-large;
    font-weight: bold;
  }

  h2{
    color: black;
    font-weight: bold;

  }
  
}

